
@charset "utf-8";

/* --------basic default styles of the page -----------*/

body {
	font-family: Arial, sans-serif;
	background-color: black;
	font-size: 100%;
	color: #303847;
}

/* ------------content areas of web page----------------- */

#wrapper {
	margin: 0 auto;
	width: 80%;
	min-width: 768px;
	max-width: 1200px;
	background-color: white;
	border-width: 5px;
	border-style: solid;
	border-color: #fff;
}

#top {
	background-color: black;
}

#cataloginfo {
	text-align: center;
	display: inline-block;
}

header {
	height: 130px;
	background-color: black;
	color: #fff;
	font-size: 150%;
	padding: 10px;
}

nav {
	text-align: center;
	background-color: black;
	margin: 0;
	padding: 0;
	height: 60px;
	font-size: 1.5em;
}

main {
	padding: 10px 20px 10px 20px;
	background-color: #fff;
	overflow: auto;
	display: block;
}

#mainphoto {
	height: 300px;
	background-image: url("../images/misc/festival-crowd-1100x733.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 60% 30%;
}

footer {
	background-color: black;
	font-size: 75%;
	padding: 10px;
	text-align: center;
	color: white;
}

/* ------------------------------ */

h1 {
	margin-bottom: 0px;
	text-align: center;
}


h2 {
	color: black;
}

h3 {
	color: black;
	text-transform: uppercase;
	font-weight: normal;
}

h4 {
	color: black;
}

li {
	line-height: 175%;
}

dl {
	font-family:  Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	overflow: hidden; /*fixes padding issue with imgs/videos */
}

dt {
	font-size: 80%;
	text-transform: uppercase;
	padding-top: 10px;
}

dd {
	line-height: 150%;
}

main p {
	line-height: 200%;
}

figure {
	float: right;
	margin: 0 0 0 15px;
	padding: 0;
	max-width: 50%;
	max-height: 50%;

}

figcaption {
		text-align: center;
		color: #999;
		font-size: .8em;
		font-family: Arial, sans-serif;
		padding-top: 5px;
}

.faq {
	
	margin: 0 0 0 15px;
	padding: 0;
	max-width: 50%;
	max-height: 50%;
}

/* ------ default link styles, must be different from nav & footer styles ------ */

a:link {
	color:#1907FF;
	text-decoration: none;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

a:active {
	color: #FFFFFF;
}

/* ------------navigation link styles ------------------*/

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline;
}

nav a:link {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 10px 17px 8px 17px;
}

nav a:visited {
	color: #FFFFFF
}

nav a:hover {
	color: #1b2b47;
	background-color: #8abede;
}

nav a:active {
	background-color: white;
}

/*-------------- main link styles-------------- */

/*main a:visited {
	color: black;
}

main a:hover {
	color: blue;
	background-color: black;
}

main a:active {
	color: white;
}*/

/*-------------- footer link styles-------------- */

footer a:link{
	color: #FFFFFF
}
footer a:visited {
	color: #00DFFB
}
footer a:hover {
	color: #FF0509;
	text-decoration: none;
}
footer a:active {
	color: #8abede;
}

/*** video styles ***/

video {
	border: 1px solid black;
}


.video-container-youtube {
	float: right;
	margin-left: 25px;
}

.video-container-youtube iframe {
	border: none;
}

.video-container-vimeo {
	width: 700px;
	margin: 0 auto;
}

.video-container {
	float: left;
	margin-left: 0;
	margin-right: 25px;
	width: 482px;
}

.video-container-vimeo2 {
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 10px;
	width: 500px;
}

.video-container-archive {
	width: 50%;
	padding-left: 20px;
	padding-bottom: 10px;
	margin: 0 auto;
}

.backtotop {
	clear: both; /* clears all floats*/
}

.mediaLinks{
	color: black;
    padding: 3px;
}

.mediaLinks:hover{
	border-radius: 0.50rem;
    color: white;
	background-color: darkgray;
}

/*Brenden's styles*/

#myJumbotron {
	background-color: black;
	color: white;
}

.activeLink {
	color: #f47171;
}

.text-bold {
	font-weight: bold;
}

.bg-black {
	background-color: black;
}



/************** AFTER DELTING BOOTSTRAP *******************/
.jumbotron {
	text-align: center;
	color: white;
	background-color: lightgray;
	padding: 10px 10px;
	background-image: url(../images/misc/hangout_concert_crowdx2000.jpeg);
	background-size: 100%;
	background-position: 50% 75%;
	background-repeat: no-repeat;
	background-size: center;
	text-shadow: 3px 3px 3px black;
}


/* table formatting */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  position: relative;
}

th {
  text-align: left;
  padding: 8px;
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
	background-color: lightgray
}

tr:hover{
	background-color: darkgray;
}

thead tr {
	background-color: lightgrey;
}

thead tr:hover {
	background-color: lightgrey;
}

.mediapage{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.electricforest {
	height: 600px;
}

.connectwus{
	background-color: lightblue;
	width: 500pt;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.medialeftphoto {
	height: 400px;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.mediarightphoto {
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/************* Social Media Icons *************/
.social-media-icon {
	position: relative;
	top: 8px;
	width: 4%;
	height: 4%;
}

.facebook-icon {
	width: 5.5%;
	height: 5.5%;
	left: 6px;
	top: 13px;
}

/**************** Catalog Styles ******************/

.catalogImages {
	width: 100%;
}

/*th {
    background: lightgray;
    position: sticky;
    top: 0;
    z-index: 10;
}*/

.catalogTable br {
	margin: .25in;
}

.catalogTable td:nth-child(1) {
	max-width: 60%;
}

/*scrollable menu for filters*/
.dropdown-menu div{
	height:200px;
	overflow-y:auto;
}
